<div class="container justify-content-between w-50">
  <%= link_to cocktails_path do %>
    <i class="fas fa-undo-alt"></i> Back to list
  <% end %>
</div>


<div class="container w-50 mt-5">
  <div class="cocktail-card d-flex">
    <div class="cocktail-img">
      <img src="<%= image_url('old-fashioned.jpg')%>" alt="">
    </div>
    <div class="cocktail-description position-relative">
      <h1 class="mb-5"><%= @cocktail.name %></h1>
      <div class="ingredients">
        <% @cocktail.doses.each do |dose| %>
          <p>
          <%= dose.description%> <%= dose.ingredient.name %>
          <%= link_to destroy_path(dose), method: :delete do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
          </p>
        <% end %>
      </div>
      <p class="add-dose position-absolute"><%= link_to new_cocktail_dose_path(@cocktail) do %>
        <i class="fas fa-plus"></i> Add a new dose
      <% end %></p>
    </div>
  </div>
</div>
